<style id='nisarg-style-inline-css' type='text/css'>
	/* Color Scheme */

	/* Accent Color */

	a:active,
	a:hover,
	a:focus {
	    color: #015900;
	}

	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #015900;
	}


	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #015900;
	}

	@media (min-width: 768px){
		.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
			border-top: 4px solid #015900;
		}
	}

	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	    background-color: #015900;
	}


	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #015900;
	}

	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
		color: #fff;
		background-color: #015900;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: #fff;
		color: #015900;
	}

	@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
			background-color: #015900;
			color: #fff;
		}
	}

	.sticky-post{
	    background: #015900;
	    color:white;
	}

	.entry-title a:hover,
	.entry-title a:focus{
	    color: #015900;
	}

	.entry-header .entry-meta::after{
	    background: #015900;
	}

	.fa {
		color: #015900;
	}

	.btn-default{
		border-bottom: 1px solid #015900;
	}

	.btn-default:hover, .btn-default:focus{
	    border-bottom: 1px solid #015900;
	    background-color: #015900;
	}

	.nav-previous:hover, .nav-next:hover{
	    border: 1px solid #015900;
	    background-color: #015900;
	}

	.next-post a:hover,.prev-post a:hover{
	    color: #015900;
	}

	.posts-navigation .next-post a:hover .fa, .posts-navigation .prev-post a:hover .fa{
	    color: #015900;
	}


	#secondary .widget-title::after{
		background-color: #015900;
	    content: "";
	    position: absolute;
	    width: 50px;
	    display: block;
	    height: 4px;
	    bottom: -15px;
	}

	#secondary .widget a:hover,
	#secondary .widget a:focus{
		color: #015900;
	}

	#secondary .widget_calendar tbody a {
	    background-color: #015900;
	    color: #fff;
	    padding: 0.2em;
	}

	#secondary .widget_calendar tbody a:hover{
	    background-color: #015900;
	    color: #fff;
	    padding: 0.2em;
	}

</style>